.article
  %ul.nav.nav-pills
    %li
      %a{role: "presentation", href: "/articles"}
        %span
          文章
.article
  = simple_form_for @article do |a|
    .field
      = a.input :title, :label=>false, input_html:{placeholder:  "标题"} 
    .field    
      = a.input :text_body, as: :text, :label=>false, input_html:{placeholder:  "正文"} 
    .field
      .upload-preview{align: "center"}
        = a.file_field :picture 
      #target{height: '300', width: '400'}
    .field
      = a.button :submit, "提交"