%meta{:name=>"viewport", :content=>"width=device-width"}
.article-details
  %ul.nav.nav-pills
    %li
      %a{:role => "presentation", :href => "/articles"}
        %span
          文章
  .article-title
    %h3
      = @article.title
    .sign-article
      = @article.created_at.strftime("%B #{@article.created_at.day.ordinalize}, %Y")  
      %a
        Alan Shan
  .article-picture
    %img{src: "/#{@article.picture}",height:200}
  .article-text-body
    %p
      = @article.text_body